<!DOCTYPE HTML> <html>
        <head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    		<script src="public/login.js"></script>
        </head>
        <body>
		<h1>Welcome</h1>
		<form id="login" action="/login" method="post">
		<p>Name:</p><input name="name" type="text" required/>
		<br>
		<p>Password:</p><input name="psword" type="password" required/>
		<br>
		<br>
		<input type="submit" value="log in" />
    		</form> 
		<br>     
		<button class="btn" onclick="window.location.href='/adduser'">Sign up</button>     
        </body>
</html>
