<!DOCTYPE HTML> <html>
        <head>
                <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    		<script src="public/login.js"></script>
        </head>
        <body>
		<form id="login" action="/login" method="post">
		<p>Name:</p><input name="name" type="text" required/>
		<br>
		<p>password:</p><input name="psword" type="text" required/>
		<br>
		<br>
		<input type="submit" value="log in" />
    		</form>   
		<br>    
		<button onclick="window.location.href='/adduser'">Sign up</button>     
     
        </body>
</html>
